{% extends "base.html" %}
{% block page_content %}

    <div class="page-header">
        <h1>管理</h1>
    </div>

    <div>
        <p>时间记录本名称：</p>
        <p>{{ details['chronofile_name'] }} <a class="btn btn-default" href="{{ url_for('admin.rename_chronofile') }}">编辑</a></p>
    </div>
    </br>
    <div>
        <p>作者名称：</p>
        <p>{{ details['author_name'] }} <a class="btn btn-default" href="{{ url_for('admin.rename_author') }}">编辑</a></p>
    </div>
    </br>
    <div>
        <p>修改邮箱地址：</p>
        <p><a class="btn btn-default" href="{{ url_for('auth.change_email') }}">点击此处</a></p>
    </div>
    </br>
    <div>
        <p>修改密码：</p>
        <p><a class="btn btn-default" href="{{ url_for('auth.change_password') }}">点击此处</a></p>
    </div>

{% endblock %}