{% extends "base.html" %}
{% block page_content %}

    <div class="page-header">
        <h1>你好</h1>
    </div>

    <div>
        {% if register == True %}
        <p>RXBlog 是一个基于 Python 3 与 Flask 构建的多用户社区博客平台。</p></br>
        <p>注册后可以发布博文、上传图片、参与评论和点赞，并打造自己的个性主页。</p></br>
        <p>请先<a href="{{ url_for('auth.register') }}">注册</a>以开始使用 RXBlog。</p>
        {% else %}
        <h2>欢迎回来，请先<a href="{{ url_for('auth.login') }}">登录</a>。</h2>
        <p>第一次来到这里？也可以<a href="{{ url_for('auth.register') }}">创建新账号</a>。</p>
        {% endif %}
    </div>

{% endblock %}
